.pag{
    position: relative;
    top:0vh;
    height: 70vh;
    background-image: url(./assets/cont.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}
.oat{
    position: relative;
    height: 10vh;
    padding: 50px;
    margin-bottom: 5vh;

}

.br{
    position: relative;
    height:50vh;
    background-color: rgba(47,55,144,1);
}


.gmap{
    position: relative;
    top:30vh;
    height:50vh;
    background-color: white;
    overflow: hidden;
    justify-content: center;
    vertical-align: middle;
}

.ltalk{
    position: relative;
    top:40vh;
    height:20vh;
    background-color: orange;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.cfoot{
    position: relative;
    top:50vh;
    height: 100vh;
}

.botton{
    position: relative;
    width:100px;
    height: 30px;
   
    border-radius: 20px;
 
    background-color: white; 
    transition: transform 0.3s;
}

.botton:hover{
    box-shadow: rgba(0,0,0,0.1);
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (max-width:769px) {
    .ltalk{
        flex-direction: column;
        gap: 2.5vh;
    }
}